<div id= "right_box">
<h1>Editing Sign Up for Newsletter</h1>

<%= render 'form' %>

<%= link_to 'Show', @sign_up_newsletter %> |
<%= link_to 'Back', sign_up_newsletters_path %>
<br><br>
</div>
<br><br>