<div id= "right_box">
<h1>Upload you Photos from Games/Events for St.Michaels GFC</h1>

<table>
<%= link_to ' Upload Photo', new_photo_path %>
  <tr>
    <th>Caption</th>
    <th>Image</th>

  </tr>

<% @photos.each do |photo| %>



  <tr>
    <td><%= photo.caption %></td>
    <td> <%= image_tag photo.image.url %></td>
    <td><%= link_to 'Show', photo %></td>
  
  </tr>
<% end %>
</table>



<br><br>
</div>
<br><br>