<div id= "right_box">
<h1>Editing Newsletter</h1>

<%= render 'form' %>

<%= link_to 'Show', @newsletter_st_micahels_gfc %> |
<%= link_to 'Back', newsletter_st_micahels_gfcs_path %>

<br><br>
</div>
<br><br>
